# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Manual Additions
.cache
.vscode
build
build-release.bat
build-debug.bat
build-all.bat
release-windows-x64
release-windows-x86
release-linux-x64
release-linux-x86
debug-windows-x64
debug-windows-x86
debug-linux-x64
debug-linux-x86
copy_data_files.bat
CMakeUserPresets.json
.vs
*.log
vcpkg_installed
x64
*.vcxproj.user
